<html>

<head>
	<title>Add Supplier</title>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="fontawesome/css/all.css" />
	<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
	<link rel="stylesheet" href="style/sidenavbarstyles.css" />
	<link rel="stylesheet" href="style/formstyles.css" />
	<link rel="stylesheet" href="style/contentstyles.css" />

	<script type="text/javascript" src="script/sidebarscripts.js"></script>
	<script type="text/javascript" src="script/formscripts.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="fontawesome/js/all.js"></script>
	<script type="text/javascript" src="script/validationscripts/validation.js"></script>
	<script type="text/javascript" src="script/controllerscripts/supplierdata.js"></script>
	<script type="text/javascript" src="script/jquery.js"></script>

	<link rel="icon" href="images/logo_white.png">


</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="column">
				<div class="mobile-icon">
					<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
					<div class="part">
						<img class="mob-image" src="images/logo_white.png" alt="logo" />
						<h5 class="name mob-header">Sampath Products</h5>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="sidebar show mobmenuhide">
					<div class="logo-details">
						<header>
							<!--Side bar Logo-->
							<div class="image-text">
								<!--Image-->
								<span class="image">
									<img src="images/logo_white.png" alt="logo" />
								</span>
								<!--image text-->
								<div class="text header-text">
									<h5 class="name">Sampath Products</h5>
								</div>
								<!--Chevoren mark-->
								<div class="toggle">
									<i class="icon fa-solid fa-circle-chevron-left" onclick="menuToggle(this)"></i>
								</div>
							</div>
						</header>
						<!--Menu items-->
						<div class="menu-bar">
							<div class="menu">
								<ul class="menu-links">
									<li class="nav-link">
										<a href="/home">
											<i class="fa-solid fa-house icon"></i>
											<span class="text nav-text">Dashboard</span>
										</a>
									</li>
									<li class="nav-link active">
										<a href="/supplier">
											<i class="fa-solid fa-people-carry-box icon"></i>
											<span class="text nav-text">Supplier</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/salesrep">
											<i class="fa-solid fa-truck-fast icon"></i>
											<span class="text nav-text">Sales Rep</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/products">
											<i class="fa-solid fa-box-archive icon"></i>
											<span class="text nav-text">Products</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/stores">
											<i class="fa-solid fa-boxes-stacked icon"></i>
											<span class="text nav-text">Stores</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/production">
											<i class="fa-solid fa-truck-ramp-box icon"></i>
											<span class="text nav-text">Production</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/quotations">
											<i class="fa-solid fa-sheet-plastic icon"></i>
											<span class="text nav-text">Quotations</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/customers">
											<i class="fa-solid fa-users icon"></i>
											<span class="text nav-text">Customers</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/materials">
											<i class="fa-solid fa-bread-slice icon"></i>
											<span class="text nav-text">Materials</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/areas">
											<i class="fa-solid fa-map-location-dot icon"></i>
											<span class="text nav-text">Areas</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="bottom-content">
								<li class="nav-link">
									<a href="#">
										<img class="user-image" src="images/myphoto.jpeg" alt="User Image">
										<span class="text nav-text">Dinuka</span>
									</a>
								</li>
								<li class="nav-link">
									<a href="#">
										<i class="fa-solid fa-sign-out icon"></i>
										<span class="text nav-text">Signout</span>
									</a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="content-container">

				<div class="content">
					<div class="head-title">
						Add Supplier
					</div>
					<!--header class="form-header">Registration</header-->

					<div class="form-container">
						<form action="#" class="" onsubmit="return false">
							<div class="formcls">
								<div class="details personal">
									<span class="title">General Details</span>
									<div class="fields">
										<div class="input-fieldlong">
											<label for="supplierName">Full Name</label>
											<input id="supplierName" class="valFullName" type="text" placeholder="Enter your name" required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierNIC">National Identity Card</label>
											<input id="supplierNIC" type="text" class="valIdentity" placeholder="NIC ends with V,X or 12 characters" required>
											<label class="validMessage"></label>
										</div>
									</div>
								</div>

								<div class="details personal">
									<span class="title">Address Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="supplierAddressOne">Line 1</label>
											<input id="supplierAddressOne" type="text" placeholder="No.xxx, street no." required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierAddressTwo">Line 2 - Area</label>
											<select id="supplierAddressTwo" placeholder="select From the list" required>
											</select>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierCity">City</label>
											<input id="supplierCity" type="text" placeholder="postal city">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierPostalCode">Postal code</label>
											<input id="supplierPostalCode" type="text">
											<label class="validMessage"></label>
										</div>
									</div>
								</div>

								<div class="details personal">
									<span class="title">Contact Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="supplierLandPhone">Land phone</label>
											<input id="supplierLandPhone" class="valTelephone" type="text" placeholder="starts with 0" required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierMobileOne">Mobile No 1</label>
											<input id="supplierMobileOne" class="valMobphone" type="text" placeholder="starts with 0" required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierMobileTwo">Mobile No 2</label>
											<input id="supplierMobileTwo" class="valMobphone" type="text" placeholder="starts with 0">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierEmail">Email</label>
											<input id="supplierEmail" class="valEmail" type="text" required>
											<label class="validMessage"></label>
										</div>
									</div>
								</div>

								<div class="details personal">
									<span class="title">Business Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="supplierBusinessName">Name of Business</label>
											<input id="supplierBusinessName" class="valFullName" type="text" placeholder="Full business name">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierRegistration">Business Registration No</label>
											<input id="supplierRegistration" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierBusinessType">Business Type</label>
											<select id="supplierBusinessType">
											</select>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="supplierMaterial">Material Supplied</label>
											<select id="supplierMaterial" type="text" >
											</select>
											<label class="validMessage"></label>
										</div>
									</div>
									<button onclick="validForm()">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>