<html>
	<head>
		<title>Supplier Data</title>
		<script type="text/javascript" src="script/sidebarscripts.js"></script>
		<script type="text/javascript" src="script/formscripts.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>
		<script type="text/javascript" src="script/controllerscripts/supplierdata.js"></script>
		<script type="text/javascript" src="script/jquery.js"></script>

		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="fontawesome/css/all.css" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="style/sidenavbarstyles.css" />
		<link rel="stylesheet" href="style/tablestyles.css" />
		<link rel="stylesheet" href="style/contentstyles.css" />
		<link rel="icon" href="images/logo_white.png">
		
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="column">
					<div class="mobile-icon">
						<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
						<div class="part">
							<img class="mob-image" src="images/logo_white.png" alt="logo"/>
							<h5 class="name mob-header">Sampath Products</h5>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="sidebar show mobmenuhide">
					<div class="logo-details">
						<header>
							<!--Side bar Logo-->
							<div class="image-text">
								<!--Image-->
								<span class="image">
									<img src="images/logo_white.png" alt="logo"/>
								</span>
								<!--image text-->
								<div class="text header-text">
									<h5 class="name">Sampath Products</h5>
								</div>
								<!--Chevoren mark-->
								<div class="toggle">
									<i class="icon fa-solid fa-circle-chevron-left" onclick="menuToggle(this)"></i>
								</div>
							</div>
						</header>
						<!--Menu items-->
						<div class="menu-bar">
							<div class="menu">
								<ul class="menu-links">
									<li class="nav-link">
										<a href="/home">
											<i class="fa-solid fa-house icon"></i>
											<span class="text nav-text">Dashboard</span>
										</a>
									</li>
									<li class="nav-link active">
										<a href="/supplier">
											<i class="fa-solid fa-people-carry-box icon"></i>
											<span class="text nav-text">Supplier</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/salesrep">
											<i class="fa-solid fa-truck-fast icon"></i>
											<span class="text nav-text">Sales Rep</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/products">
											<i class="fa-solid fa-box-archive icon"></i>
											<span class="text nav-text">Products</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/stores">
											<i class="fa-solid fa-boxes-stacked icon"></i>
											<span class="text nav-text">Stores</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/production">
											<i class="fa-solid fa-truck-ramp-box icon"></i>
											<span class="text nav-text">Production</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/quotations">
											<i class="fa-solid fa-sheet-plastic icon"></i>
											<span class="text nav-text">Quotations</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/customers">
											<i class="fa-solid fa-users icon"></i>
											<span class="text nav-text">Customers</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/materials">
											<i class="fa-solid fa-bread-slice icon"></i>
											<span class="text nav-text">Materials</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="bottom-content">
								<li class="nav-link">
									<a href="#">
										<img class="user-image" src="images/myphoto.jpeg" alt="User Image">
										<span class="text nav-text">Dinuka</span>
									</a>
								</li>
								<li class="nav-link">
									<a href="#">
										<i class="fa-solid fa-sign-out icon"></i>
										<span class="text nav-text">Signout</span>
									</a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			  
				<div class="content-container">

					<div class="content">
						<div class="head-title">
							Supplier Details
						</div>
						<div class="table-container">
							<button class="addBtn">
								<a href="/supplieradd">
									Add
								</a>
							</button>
							<table class="table table-striped">
								<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Supplier Name</th>
									<th scope="col">Supplier Code</th>
									<th scope="col">Contact No</th>
									<th scope="col">Email</th>
									<th scope="col">Business Name</th>
									<th scope="col">City</th>
								</tr>
								</thead>
								<tbody id="data-output">

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		  
	</body>
</html>