<html>

<head>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="fontawesome/css/all.css" />
	<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
	<link rel="stylesheet" href="style/sidenavbarstyles.css" />
	<link rel="stylesheet" href="style/formstyles.css" />
	<link rel="stylesheet" href="style/contentstyles.css" />

	

	<link rel="icon" href="images/logo_white.png">


</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="column">
				<div class="mobile-icon">
					<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
					<div class="part">
						<img class="mob-image" src="images/logo_white.png" alt="logo" />
						<h5 class="name mob-header">Sampath Products</h5>
					</div>
				</div>
			</div>
			<div class="column" id="sidebarContainer">
					
			</div>

			<div class="content-container">

				<div class="content">
					
					<div class="head-title" id="heading">
						
					</div>
					<!--header class="form-header">Registration</header-->
					<div id="parentDiv" style="text-align: center;">
						
					</div>
					<div class="form-container">
						<form action="#" class="" id="productAddForm" onsubmit="return false">
							<div class="formcls">
								
								<div class="details personal">
									<span class="title">General Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="producttype_id">Product Name</label>
											<select id="producttype_id" placeholder="select From the list" required>
											</select>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="productsize_id">Unit Quantity</label>
											<select id="productsize_id" placeholder="select From the list" required>
											</select>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="product_unit_price">Product Price</label>
											<div style="display:flex">
												<div style="padding-top:10px; padding-right:10px">Rs. </div>
												<input id="product_unit_price" type="number" min="0" step="0.01">
											</div>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="product_usable_time">Usable Time (in months)</label>
											<input id="product_usable_time" type="text" value="">
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
								
								<span class="title">Material Details</span>
								<table class="table table-striped" width="60%"> 
									<thead>
										<tr>
											<th scope="col">Material Name</th>
											<th scope="col">Unit Quantity</th>
										</tr>
									</thead>
									<tbody id="data-output">
	
									</tbody>
								</table>
								<div class="details personal">
									<span class="title">Store Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="product_extra">Product Needed</label>
											<input id="product_extra" type="number" min="0" />
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
									<button onclick='editProduct();'>Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="script/jquery.js"></script>
	<script type="text/javascript" src="script/sidebarscripts.js"></script>
	<script type="text/javascript" src="script/objects.js"></script>
	<script type="text/javascript" src="script/formscripts.js"></script>
	<script type="text/javascript" src="script/tablescript.js"></script>
	<script type="text/javascript" src="script/topnavbar.js"></script>
	<script type="text/javascript" src="script/restfunction.js"></script>
	<script type="text/javascript" src="script/manytomanyscripts.js"></script>
	<script type="text/javascript" src="script/jsonObjCreator.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="fontawesome/js/all.js"></script>
	<script type="text/javascript" src="script/validationscripts/validation.js"></script>
	<script type="text/javascript" src="script/controllerscripts/product/productedit.js"></script>
</body>

</html>