<html>

<head>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="fontawesome/css/all.css" />
	<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
	<link rel="stylesheet" href="style/sidenavbarstyles.css" />
	<link rel="stylesheet" href="style/formstyles.css" />
	<link rel="stylesheet" href="style/contentstyles.css" />

	

	<link rel="icon" href="images/logo_white.png">


</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="column">
				<div class="mobile-icon">
					<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
					<div class="part">
						<img class="mob-image" src="images/logo_white.png" alt="logo" />
						<h5 class="name mob-header">Sampath Products</h5>
					</div>
				</div>
			</div>
			<div class="column" id="sidebarContainer">
					
			</div>

			<div class="content-container">

				<div class="content">
					<div class="head-title" id="heading">
						
					</div>
					<!--header class="form-header">Registration</header-->

					<div class="form-container">
						<form action="#" class="" id="salesrepViewForm" onsubmit="return false">
							<div class="formcls">
								<div class="details personal">
									<span class="title">General Details</span>
									<div class="fields">
										<div class="input-fieldlong">
											<label for="salesrep_name">Full Name</label>
											<input id="salesrep_name" class="valFullName" type="text" placeholder="Enter your name" required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_nic">National Identity Card</label>
											<input id="salesrep_nic" type="text" class="valIdentity" placeholder="NIC ends with V,X or 12 characters" onchange="loadIdDetails(this)" required>
											<label class="validMessage"></label>
										</div>
										<br />
										<div class="input-fieldonethird">
											<label for="salesrep_gender">Gender</label>
											<select id="salesrep_gender" class="genderSel">
												<option value="male">Male</option>
												<option value="female">Female</option>
												<option value="other">Other</option>
											</select>
											<label class="validMessage"></label>
										</div>

										<div class="input-fieldonethird">
											<label for="salesrep_birthdate">Birth Date</label>
											<input id="salesrep_birthdate" type="date">
											<label class="validMessage"></label>
										</div>

										<div class="input-fieldonethird">
											<label for="salesrep_age">Age</label>
											<input id="salesrep_age" type="text">
											<label class="validMessage"></label>
										</div>
									</div>
								</div>

								<div class="details personal">
									<span class="title">Address Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="salesrep_address_line1">Line 1</label>
											<input id="salesrep_address_line1" type="text" placeholder="No.xxx, street no." required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_address_area_id">Line 2 - Area</label>
											<input id="salesrep_address_area_id" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_address_city">City</label>
											<input id="salesrep_address_city" type="text" placeholder="postal city">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_address_postal">Postal code</label>
											<input id="salesrep_address_postal" type="text">
											<label class="validMessage"></label>
										</div>
									</div>
								</div>

								<div class="details personal">
									<span class="title">Contact Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="salesrep_land_no">Land phone</label>
											<input id="salesrep_land_no" class="valTelephone" type="text" placeholder="starts with 0" required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_contact_no1">Mobile No 1</label>
											<input id="salesrep_contact_no1" class="valMobphone" type="text" placeholder="starts with 0" required>
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_contact_no2">Mobile No 2</label>
											<input id="salesrep_contact_no2" class="valMobphone" type="text" placeholder="starts with 0">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_email">Email</label>
											<input id="salesrep_email" class="valEmail" type="text" required>
											<label class="validMessage"></label>
										</div>
									</div>
								</div>

								<div class="details personal" style="display:none">
									<span class="title">Contact Details</span>
									<div class="fields">
										<div class="input-field">
											<label for="salesrep_id">"salesrep_id"</label>
											<input id="salesrep_id" class="valTelephone avoid" type="text" placeholder="starts with 0">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="salesrep_code">"salesrep_code"</label>
											<input id="salesrep_code" class="valMobphone avoid" type="text" placeholder="starts with 0">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for= "created_date_time"> "created_date_time"</label>
											<input id= "created_date_time" na class="valMobphone avoid" type="text" placeholder="starts with 0">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="updated_date_time">"updated_date_time"</label>
											<input id="updated_date_time" class="valEmail avoid" type="text">
											<label class="validMessage"></label>
										</div>

										<div class="input-field">
											<label for="deleted_date_time">"deleted_date_time"</label>
											<input id="deleted_date_time" class="valEmail avoid" type="text">
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
									<div id="basicBtn" style="display:flex">
										<button href="/salesrepedit" id="redirectButton" class="btnEditWide" onclick="editFormSalesrep()">Edit</button>
										<button class="btnDeleteWide" href="/salesrep" onclick='editObj("salesrepEditForm",["input", "select"], "/salesrep/delete", "DELETE", "/salesrep", "Salesrep")'>Delete</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="script/sidebarscripts.js"></script>
	<script type="text/javascript" src="script/objects.js"></script>
	<script type="text/javascript" src="script/restfunction.js"></script>
	<script type="text/javascript" src="script/formscripts.js"></script>
	<script type="text/javascript" src="script/tablescript.js"></script>
	<script type="text/javascript" src="script/jsonObjCreator.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="fontawesome/js/all.js"></script>
	<script type="text/javascript" src="script/validationscripts/validation.js"></script>
	<script type="text/javascript" src="script/controllerscripts/salesrep/salesrepadd.js"></script>
	<script type="text/javascript" src="script/controllerscripts/salesrep/salesrepview.js"></script>
	<script type="text/javascript" src="script/jquery.js"></script>
</body>


</html>