*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body-color: #CEF2C6;
    --sidebar-color: #40ad26;
    --primary-color: #31851d;
    --primary-color-light: #F6F5FF;
    --text-color: #f0fbee;
    --border-color: #205613;
    --active-color: #047508;
    --hover-color: #04750880;

    /* Transitions */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: var(--primary-color-light);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 100px;
    margin: 0;
    color: var(--primary-color);
}

.message {
    font-size: 20px;
    margin: 20px 0;
}

.home-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--active-color);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.home-link:hover {
    background-color: var(--hover-color);
}
