*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body-color: #CEF2C6;
    --sidebar-color: #40ad26;
    --primary-color: #31851d;
    --primary-color-light: #F6F5FF;
    --text-color: #f0fbee;
    --border-color: #205613;
    --active-color: #047508;
    --hover-color: #04750880;

    /* Transitions */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    min-height: 100vh;
    background: var(--body-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 13px;
    font-weight: 500;
    color : #2e2e2e;
}

.form-group input[type="text"] {
    width: calc(100% - 12px);
    padding: 5px;
}

.form-group input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.form-container{
    position: relative;
    width: 97%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    /* margin-top: 15px; */
    /* margin-left: 40px; */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    height: 88%;
    /* align-self: center; */
    margin: 20px;
    float: right;
    
}

.form-header::before{
    content: "";
    border-radius:8px;
    position:absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: var(--active-color);
}

.form-header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--active-color);
}

.form-container form{
    position: relative;
    min-height: auto;
    width: 90%
}

.form-container form .formcls{
    position: absolute;
    background-color: white;
    width: 100%;
    
}

.form-container form .formcls.second{
    opacity: 0;
    pointer-events: none;
}

form.secActive .formcls.first{
    opacity: 0;
    pointer-events: none;
}

form.secActive .formcls.second{
    opacity: 1;
    pointer-events: auto;
}

.title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight:500;
    margin: 6px 0 ;
    color: var(--sidebar-color);
}

.fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-field{
    display:flex;
    width:calc(100% / 4 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-fieldlong{
    display:flex;
    width:calc(100% * 3 / 4 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-fieldhalf{
    display:flex;
    width:calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-fieldonethird{
    display:flex;
    width:calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label, .input-fieldlong label, .input-fieldhalf label, .input-fieldonethird label{
    font-size: 13px;
    font-weight: 500;
    color : #2e2e2e;
}

.input-field input, .input-field select, .input-fieldlong input, .input-fieldlong select, .input-fieldhalf input, .input-fieldhalf select, .input-fieldonethird input, .input-fieldonethird select{
    outline: none;
    font-size: 14px;
    font-weigh: 400;
    color: #333;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 30px;
    margin: 8px 0;
}

.input-field label.validMessage, .input-fieldlong label.validMessage, .input-fieldhalf label.validMessage, .input-fieldonethird label.validMessage{
    color:red;
    font-size: 10px;
}

.input-field label span.reqMark, .input-fieldlong label span.reqMark, .input-fieldhalf label span.reqMark, .input-fieldonethird label span.reqMark{
    color: red;
}


.input-field input.valid, .input-fieldlong input.valid, .input-fieldhalf input.valid, .input-fieldonethird input.valid{
    border-bottom: 2px solid #00ff00;
}

.input-field input.invalid, .input-fieldlong input.invalid, .input-fieldhalf input.invalid, .input-fieldonethird input.invalid{
    border-bottom: 2px solid #ff0000;
}

.input-field input:is(:focus, :valid), .input-fieldlong input:is(:focus, :valid), .input-fieldhalf input:is(:focus, :valid), .input-fieldonethird input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}

form button, .nextBtn, .backBtn, .submitBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin : 5px;
}

.btnDelete{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    background-color: red;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin : 5px;
}

.btnEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #FCAE1E;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin : 5px;
}

.btnEditWide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #FCAE1E;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin : 5px;
}

.btnDeleteWide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    background-color: red;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin : 5px;
}

form button, 
form .backBtn{
    font-size : 14px;
    font-weight: 400;
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

form button:hover{
    background-color: var(--active-color);
}

form button i,
form .backBtn i{
    margin: 0 6px;
}

form .buttons,
.pagBtn{
    display: flex;
    align-items: center;
}

form .buttons  button , .nextBtn{
    margin-top: 20px;
    margin-right: 14px;
}

.btnText{
    margin: 0 10px 0 10px;
}

.hidden{
    display : none;
}

.horizontal{
    display : flex;
}

.addBtn{
    text-color : white;
}




