/* Font styles appling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body-color: #CEF2C6;
    --sidebar-color: #40ad26;
    --primary-color: #31851d;
    --primary-color-light: #F6F5FF;
    --text-color: #f0fbee;
    --border-color: #205613;
    --active-color: #047508;
    --hover-color: #04750880;

    /* Transitions */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
}


/*Side bar styling*/
.sidebar-container{
    position: absolute;
    height: 100vh;
}

.sidebar{
    position : static;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 20px 0px;
    background: var(--sidebar-color); 
    box-shadow : 0px 8px 8px rgba(0, 0, 0, 25%);
    transition: all .2s ease-in;
}

.sidebar li{
    height: 46px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li:hover{
    margin-top: 5px;
    width:100%;
    list-style: none;
    display: flex;
    align-items: center;
    background : var(--hover-color);
    color: #ffffff;
    font-weight: bold;
    box-shadow : 0px 3px 8px rgba(0, 0, 0, 25%);
    transition : all .2 ease-in;
}

.sidebar li.active{
    margin-top: 10px;
    width:100%;
    list-style: none;
    display: flex;
    align-items: center;
    background : var(--active-color);
    color: #ffffff;
    hight: 46px;
    font-weight: bold;
    box-shadow : 0px 3px 8px rgba(0, 0, 0, 25%);
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity : 1;
    transition: all 1.5s ease-out;
}

.sidebar li a{
    text-decoration: none;
    height : 100%;
    align-items: center;
    display: flex;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color : var(--text-color)
}

.sidebar .image{
    min-width: 50px;
    display: flex;
    align-items: center;
    margin: 5px;
    margin-right: 15px;
}

.sidebar header{
    position: relative;
    padding: 5px;
}

.sidebar .image-text img{
    width : 80px;
    border-radius : 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-size: 25 px;
    font-weight: 800;
    color: #FFF;
    margin-left: 20px;
}


.sidebar .menu-bar{
    height: calc(100% - 50px);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggle .icon{
    background-color: var(--sidebar-color);
    color: white;
    height: 20px;
    margin-left: 55px;
    border-radius: 50%;
    border-color : var(--sidebar-color);
    border: 10px;
    transition: all .2s ease-in;
    box-shadow : 0px 3px 8px rgba(0, 0, 0, 25%);
}

.sidebar.hide{
    width: 90px;
    marign: 10px;
    
}

.sidebar.hide header .header-text{
    display:none;
}

.sidebar.hide li .text{
    opacity:0;
    transition: all 0.2s ease-out;

}

.sidebar.hide .image-text img{
    width : 60px;
    border-radius : 6px;
}

.sidebar.hide .toggle .icon{
    background-color: var(--sidebar-color);
    color: white;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    border-color : var(--sidebar-color);
    border: 10px;
}

.user-image{
    background-color: var(--sidebar-color);
    width:25px;
    height:auto;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 20px;
    
}

.mob-view{
    display:none;
}

.mobile-icon {
    display: none; /* Hide the icon by default */
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    left: 10px; /* Adjust the distance from the left */
    z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
}
  
@media (max-width: 767px) {
    * {
        margin:0;
        padding:0;
    }

    .mobile-icon {
        width: 100%;
        background-color: var(--sidebar-color);
        color: var(--text-color);
        position: static;
        display: flex;
    }

    .mob-header{
        font-size : 20px;
        height: 40px;
        margin-top : 20px;
    }

    .mobile-icon .part{
        width: max-content;
        display: flex;
        text-align: center;
        flex: 1;
        flex-direction: row;
        margin-left: 50px;
    }

    .mob-image{
        height: 40px;
        width: auto;
        margin: 10px;
    }

    .mob-icon{
        margin: 20px 10px 20px 25px;
        font-size: 25px;
        transition: all 1.5s ease-in;
    }
    

    .content-container{
        position: relative;
    }

    .row{
        display :grid;
    }

    .mobmenuhide{
        display: none;
        transition: all 1.5s ease-in;
    }

    .mobmenushow{
        display: grid;
        flex:1;
        width: 100%;
        transition: all 1.5s ease-in;
    }

    header{
        display: none;
    }

    .sidebar li{
        height: 46px;
        margin-top: 5px;
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    .sidebar li:hover{
        margin-top: 5px;
        width:100%;
        list-style: none;
        display: flex;
        align-items: center;
        background : var(--hover-color);
        color: #ffffff;
        font-weight: bold;
        box-shadow : 0px 3px 8px rgba(0, 0, 0, 25%);
        transition : all .2 ease-in;
    }
    
    .sidebar li.active{
        margin-top: 10px;
        width:100%;
        list-style: none;
        display: flex;
        align-items: center;
        background : var(--active-color);
        color: #ffffff;
        hight: 46px;
        font-weight: bold;
        box-shadow : 0px 3px 8px rgba(0, 0, 0, 25%);
    }
    
    .sidebar li .icon,
    .sidebar li .text{
        color: var(--text-color);
        min-width: 60px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity : 1;
        transition: all 1.5s ease-out;
    }
    
    .sidebar li a{
        text-decoration: none;
        height : 100%;
        align-items: center;
        display: flex;
    }
    .sidebar .menu-bar{
        height: calc(100% - 50px);
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
  
  