*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body-color: #CEF2C6;
    --sidebar-color: #40ad26;
    --primary-color: #31851d;
    --primary-color-light: #F6F5FF;
    --text-color: #f0fbee;
    --border-color: #205613;
    --active-color: #047508;
    --hover-color: #04750880;

    /* Transitions */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
}

.detail_list{
    width: 100%;
}

table tbody tr:nth-child(odd) {
    background-color: green;
  }

table tbody tr:hover{
    box-shadow : 0px 3px 8px rgba(0, 0, 0, 25%);
    transition : all .2 ease-in;
}

thead th{
    color: var(--active-color);
}

tr{
    height: 7.15%;
}

.table-container{
    position: relative;
    width: 95%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    /* margin-top: 15px; */
    /* margin-left: 40px; */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    height: 80%;
    /* align-self: center; */
    margin: 20px;
    float: right;
}

.addBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: auto;
    border: none;
    outline: none;
    background-color: var(--sidebar-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    float: right;
    margin-bottom: 10px;
    color:white;
}

.addBtn:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: auto;
    border: none;
    outline: none;
    background-color: var(--active-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    float: right;
    margin-bottom: 10px;
}

.addBtn a{
    text-decoration: none;
    height : 100%;
    align-items: center;
    display: flex;
    color: var(--text-color);
}

.hidden{
    display : none;
}   

#context-menu{
	position:fixed;
	z-index: 10000;
	width: 150px;
	background: var(--sidebar-color);
	transform:scale(0);
	transform-origin: top left;	
}

#context-menu.active{
	transform: scale(1);
	
}

#context-menu .item{
	padding: 8px 10px;
	font-size: 15px;
	color: var(--text-color);
}

.leftCorner{
    float: left;
    width: 50%;
    padding-left: 10%;
}

.rightCorner{
    float: right;
    width: 50%;
    padding-right: 5%;
}

.paginationFooter{
    display: flex;
    width: 95%;
}

.container {
    display: flex;
    width: 250px;
    float: left;
  }

  .half-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--sidebar-color);
    position: relative;
    overflow: hidden;
  }

  .half-circle.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .half-circle.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .half-circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 30px;
    height: 30px;
    background-color: var(--sidebar-color);
    border-radius: 50%;
  }

  .half-circle.right:before {
    left: auto;
    right: -25px;
  }

  .button-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #pagLeftBtn:hover, #pagRightBtn:hover {
    background-color: var(--active-color);
    cursor: pointer;
  }

#pagMiddle{
    width: 80px; 
    height: 30px; 
    background-color: var(--body-color);
    text-align: center;
} 


@media (max-width: 767px){
    thead{
        display: none;
    }

    td{
        display: block;
    }

    td:first-child{
        background-color: var(--sidebar-color);
        color : var(--text-color);
        text-align: center;  
    }

    td:nth-child(2)::before{
        content : "First";
    }

    td:nth-child(3)::before{
        content : "Last";
    }

    td:nth-child(4)::before{
        content : "Handle";
    }

    td{
        text-align:right;
    }

    td::before{
        float: left;
        margin-right: 3rem;
        font-weight: bold;
        color: var(--active-color);
    }

    tr{
        justify-content: space-between;
        margin-bottom: 10px;
    }

}