<html>
    <head>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="fontawesome/css/all.css" />
        <link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
        <link rel="stylesheet" href="style/sidenavbarstyles.css" />
        <link rel="stylesheet" href="style/formstyles.css" />
        <link rel="stylesheet" href="style/contentstyles.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="column">
                    <div class="mobile-icon">
                        <i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
                        <div class="part">
                            <img class="mob-image" src="images/logo_white.png" alt="logo" />
                            <h5 class="name mob-header">Sampath Products</h5>
                        </div>
                    </div>
                </div>
                <div class="column" id="sidebarContainer">
					<div th:replace="~{SideBar :: sidenavbarFragment}"></div>
                        
                </div>
    
                <div class="content-container">
    
                    <div class="content">
                        <div class="head-title" id="heading">
                            
                        </div>
                        <!--header class="form-header">Registration</header-->
                        <div class="parentDiv">
                            <div class="userAddForm">
                                <form action="#" class="" id="userAddForm" onsubmit="return false">
                                    <div class="formcls">
                                        <div class="details personal">
                                            <span class="title">General Details</span>
                                            <div class="fields">
                                                <div class="input-fieldhalf">
                                                    <label for="employee_id">Employee ID</label>
                                                    <select id="employee_id" placeholder="select From the list" required>
                                                    </select>
                                                </div>
                                                <div class="input-fieldhalf">
                                                    <label for="user_email">User Email</label>
                                                    <input id="user_email" class="valEmail" type="text" placeholder="Enter your email" required/>
                                                    <label class="validMessage"></label>
                                                </div>
                                                <div class="input-fieldfull">
                                                    <label for="user_name">User Name</label>
                                                    <input id="user_name"  type="text" placeholder="Enter your name" required />
                                                    <label class="validMessage"></label>
                                                </div>
                                                <div class="input-fieldhalf">
                                                    <label for="user_password">Password</label>
                                                    <input id="user_password" class="valPassword" type="password" placeholder="Enter Password" required/>
                                                    <label class="validMessage"></label>
                                                </div>
                                                <div class="input-fieldhalf">
                                                    <label for="user_confirmPwd">Confirm Password</label>
                                                    <input id="user_confirmPwd" type="password" class="valRePassword avoid" placeholder="Re-enter Password" onkeyup="checkEquality('user_password', 'user_confirmPwd', 'Passwords you entered are different')">
                                                    <label class="validMessage"></label>
                                                </div> <br />
                                                <div class="input-fieldfull">
                                                    <label for="user_status">User Active</label>
                                                    <div style="display:flex;">
                                                        <input id="user_status" type="checkbox" onchange="changeText();" style="width:20px; margin-right: 100px "/>
                                                        <div id="checkText" style="padding-top : 5px"></div>
                                                    </div>
                                                    <label class="validMessage"></label>
                                                </div>
                                                <div class="input-fieldfull">
                                                    <label for="user_photopath">User Image</label>
                                                    <input id="user_photopath" type="file">
                                                    <label class="validMessage"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="rightColumn">
                                <div class="image-container">
                                    <img src="images/users/default1.png" alt="Rounded Image" id="userImg">
                                </div>
                                <div class="userroleForm">
                                    <form action="#" class="" id="userroleForm" onsubmit="return false">
                                        <div class="formcls">
                                            <div class="details personal">
                                                <span class="title" onclick='addRole()'>User Roles</span>
                                                <div id="roleCheckBox">
                                                </div>
                                            </div>
                                            <div>
                                                <button onclick='createUserObject();'>Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="script/sidebarscripts.js"></script>
	<script type="text/javascript" src="script/objects.js"></script>
	<script type="text/javascript" src="script/formscripts.js"></script>
	<script type="text/javascript" src="script/tablescripts.js"></script>
	<script type="text/javascript" src="script/topnavbar.js"></script>
	<script type="text/javascript" src="script/restfunction.js"></script>
	<script type="text/javascript" src="script/manytomanyscripts.js"></script>
	<script type="text/javascript" src="script/jsonObjCreator.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="fontawesome/js/all.js"></script>
	<script type="text/javascript" src="script/validationscripts/validation.js"></script>
	<script type="text/javascript" src="script/controllerscripts/user/useradd.js"></script>
	<script type="text/javascript" src="script/jquery.js"></script>
</html>