<html>
	<head>
		
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="fontawesome/css/all.css" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="style/sidenavbarstyles.css" />
		<link rel="stylesheet" href="style/tablestyles.css" />
		<link rel="stylesheet" href="style/contentstyles.css" />
		<link rel="stylesheet" href="style/dashboard.css" />
		<link rel="icon" href="images/logo_white.png">
		
		
	</head>
	
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="column">
					
				</div>
				<div class="column" id="sidebarContainer">
					
				</div>
				
			  
				<div class="content-container">

					<div class="content">
						
						<div class="head-title" id="heading">
							
						</div>
						<div class="table-container">
							
							<div class="dashboardcard">
								<div id="titleDiv"></div>
								<div id="dataDiv"></div>
								<div id="attributeDiv" style="display:flex">
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>

							
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="script/sidebarscripts.js"></script>
		<script type="text/javascript" src="script/formscripts.js"></script>
		<script type="text/javascript" src="script/tablescript.js"></script>
		<script type="text/javascript" src="script/restfunction.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>
		<script type="text/javascript" src="script/objects.js"></script>
		<script type="text/javascript" src="script/controllerscripts/employee/employeedata.js"></script>
		<script type="text/javascript" src="script/jquery.js"></script>
		  
	</body>
</html>