<html>
	<head>
		<title>Admin Dashboard</title>
		<script type="text/javascript" src="script/scripts.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>

		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="fontawesome/css/all.css" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="style/sidenavbarstyles.css" />
		<link rel="stylesheet" href="style/tablestyles.css" />
		<link rel="stylesheet" href="style/contentstyles.css" />
		
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="sidebar show">
					<div class="logo-details">
						<header>
							<!--Side bar Logo-->
							<div class="image-text">
								<!--Image-->
								<span class="image">
									<img src="images/logo_white.png" alt="logo"/>
								</span>
								<!--image text-->
								<div class="text header-text">
									<h5 class="name">Sampath Products</h5>
								</div>
								<!--Chevoren mark-->
								<div class="toggle">
									<i class="icon fa-solid fa-circle-chevron-left" onclick="menuToggle(this)"></i>
								</div>
							</div>
						</header>
						<!--Menu items-->
						<div class="menu-bar">
							<div class="menu">
								<ul class="menu-links">
									<li class="nav-link active">
										<a href="#">
											<i class="fa-solid fa-house icon"></i>
											<span class="text nav-text">Dashboard</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-people-carry-box icon"></i>
											<span class="text nav-text">Supplier</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-truck-fast icon"></i>
											<span class="text nav-text">Sales Rep</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-box-archive icon"></i>
											<span class="text nav-text">Products</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-boxes-stacked icon"></i>
											<span class="text nav-text">Stores</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-truck-ramp-box icon"></i>
											<span class="text nav-text">Production</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-sheet-plastic icon"></i>
											<span class="text nav-text">Quotations</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-users icon"></i>
											<span class="text nav-text">Customers</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="bottom-content">
								<li class="nav-link">
									<a href="#">
										<img class="user-image" src="images/myphoto.jpeg" alt="User Image">
										<p class="text nav-text">Dinuka</p>
									</a>
								</li>
								<li class="nav-link">
									<a href="#">
										<i class="fa-solid fa-sign-out icon"></i>
										<span class="text nav-text">Signout</span>
									</a>
								</li>
							</div>
						</div>
					</div>
					<div class="pos-f-t mob-view">
						<div class="collapse" id="navbarToggleExternalContent">
						  <div class="bg-dark p-4">
							<h4 class="text-white">Collapsed content</h4>
							<span class="text-muted">Toggleable via the navbar brand.</span>
						  </div>
						</div>
						<nav class="navbar navbar-dark bg-dark">
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						  </button>
						</nav>
					  </div>
				</div>
				<div class="content-container">

					<div class="content">
						<div class="head-title">
							Admin Dashboard
						</div>
						<table class="table table-striped detail-list">
							<thead>
							  <tr>
								<th scope="col">#</th>
								<th scope="col">First</th>
								<th scope="col">Last</th>
								<th scope="col">Handle</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							  </tr>
							  <tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
							  </tr>
							  <tr>
								<th scope="row">3</th>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
							  </tr>
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>
		
		  
	</body>
</html>