<html>
	<head>
		<title>Admin Dashboard</title>
		<script type="text/javascript" src="script/scripts.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>

		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="fontawesome/css/all.css" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="style/sidenavbarstyles.css" />
		<link rel="stylesheet" href="style/topnavbarstyles.css" />
		
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="sidebar show">
					<div class="logo-details">
						<header>
							<!--Side bar Logo-->
							<div class="image-text">
								<!--Image-->
								<span class="image">
									<img src="images/logo_white.png" alt="logo"/>
								</span>
								<!--image text-->
								<div class="text header-text">
									<h5 class="name">Sampath Products</h5>
								</div>
								<!--Chevoren mark-->
								<div class="toggle">
									<i class="icon fa-solid fa-circle-chevron-left" onclick="menuToggle(this)"></i>
								</div>
							</div>
						</header>
						<!--Menu items-->
						<div class="menu-bar">
							<div class="menu">
								<ul class="menu-links">
									<li class="nav-link active">
										<a href="#">
											<i class="fa-solid fa-house icon"></i>
											<span class="text nav-text">Dashboard</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-people-carry-box icon"></i>
											<span class="text nav-text">Supplier</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-truck-fast icon"></i>
											<span class="text nav-text">Sales Rep</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-box-archive icon"></i>
											<span class="text nav-text">Products</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-boxes-stacked icon"></i>
											<span class="text nav-text">Stores</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-truck-ramp-box icon"></i>
											<span class="text nav-text">Production</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-sheet-plastic icon"></i>
											<span class="text nav-text">Quotations</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-users icon"></i>
											<span class="text nav-text">Customers</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="bottom-content">
								<li class="nav-link">
									<a href="#">
										<i class="fa-solid fa-sign-out icon"></i>
										<span class="text nav-text">Signout</span>
									</a>
								</li>
							</div>
						</div>
					</div>
				</div>
				<div class="content-container">
					<!--Top Navbar-->
					<!--div class="topnav">			
						<a>
							<img src="images/customers.png" alt="Avatar">
						</a>
						<a>
							<p class="nav-username">Dinuka</p>
						</a>
						<a>
							<form class="form-inline">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>

						</a>	
					</div-->

					<nav class="navbar justify-content-between topnav">
						<img src="images/customers.png" alt="Avatar">
						<p class="nav-username">Dinuka</p>
						<form class="form-inline">
						  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</nav>

					<div class="content">
						<table class="detail_List">
							<thead>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Dinuka</td>
									<td>Walpola</td>
									<td>26</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Kasuni</td>
									<td>Gampaha</td>
									<td>20</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Piyal</td>
									<td>Colombo</td>
									<td>30</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		  
	</body>
</html>