<html>
	<head>
		<title>Admin Dashboard</title>
		<script type="text/javascript" src="script/sidebarscripts.js"></script>
		<script type="text/javascript" src="script/formscripts.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>

		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="fontawesome/css/all.css" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="style/sidenavbarstyles.css" />
		<link rel="stylesheet" href="style/formstyles.css" />
		<link rel="stylesheet" href="style/contentstyles.css" />
		<link rel="icon" href="images/logo_white.png">
		
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="column">
					<div class="mobile-icon">
						<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
						<div class="part">
							<img class="mob-image" src="images/logo_white.png" alt="logo"/>
							<h5 class="name mob-header">Sampath Products</h5>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="sidebar show mobmenuhide">
					<div class="logo-details">
						<header>
							<!--Side bar Logo-->
							<div class="image-text">
								<!--Image-->
								<span class="image">
									<img src="images/logo_white.png" alt="logo"/>
								</span>
								<!--image text-->
								<div class="text header-text">
									<h5 class="name">Sampath Products</h5>
								</div>
								<!--Chevoren mark-->
								<div class="toggle">
									<i class="icon fa-solid fa-circle-chevron-left" onclick="menuToggle(this)"></i>
								</div>
							</div>
						</header>
						<!--Menu items-->
						<div class="menu-bar">
							<div class="menu">
								<ul class="menu-links">
									<li class="nav-link active">
										<a href="#">
											<i class="fa-solid fa-house icon"></i>
											<span class="text nav-text">Dashboard</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-people-carry-box icon"></i>
											<span class="text nav-text">Supplier</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-truck-fast icon"></i>
											<span class="text nav-text">Sales Rep</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-box-archive icon"></i>
											<span class="text nav-text">Products</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-boxes-stacked icon"></i>
											<span class="text nav-text">Stores</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-truck-ramp-box icon"></i>
											<span class="text nav-text">Production</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-sheet-plastic icon"></i>
											<span class="text nav-text">Quotations</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="#">
											<i class="fa-solid fa-users icon"></i>
											<span class="text nav-text">Customers</span>
										</a>
									</li>
									<li class="nav-link">
										<a href="/material">
											<i class="fa-solid fa-bread-slice icon"></i>
											<span class="text nav-text">Materials</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="bottom-content">
								<li class="nav-link">
									<a href="#">
										<img class="user-image" src="images/myphoto.jpeg" alt="User Image">
										<span class="text nav-text">Dinuka</span>
									</a>
								</li>
								<li class="nav-link">
									<a href="#">
										<i class="fa-solid fa-sign-out icon"></i>
										<span class="text nav-text">Signout</span>
									</a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			  
				<div class="content-container">

					<div class="content">
						<div class="head-title">
							Admin Dashboard
						</div>
						<!--header class="form-header">Registration</header-->

						<div class="form-container">
							<form action="#" class="">
								<div class="formcls first">
									<div class="details personal">
										<span class="title">Personal Details</span>
										<div class="fields">
											<div class="input-field">
												<label for="full-name">Full Name</label>
												<input id="full-name" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="birthdate">Date of Birth</label>
												<input id="birthdate" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="email">email</label>
												<input id="email" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="identity">Full Name</label>
												<input id="identity" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="gender">Date of Birth</label>
												<input id="gender" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="home">email</label>
												<input id="home" type="text" placeholder="Enter your name" >
											</div>
										</div>
										<span class="title">Personal Details</span>
										<div class="fields">
											<div class="input-field">
												<label for="a">Full Name</label>
												<input id="a" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="b">Date of Birth</label>
												<input id="b" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="e">email</label>
												<input id="e" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="f">Full Name</label>
												<input id="f" type="text" placeholder="Enter your name">
											</div>

											<div class="input-field">
												<label for="o">Date of Birth</label>
												<input id="o" type="date" placeholder="Enter your name">
											</div>

											<div class="input-field">
												<label for="z">email</label>
												<input id="z" type="text" placeholder="Enter your name">
											</div>
										</div>

										<button class="nextBtn" onclick="swapNext()">
											<span class="btnText">Next</span>
											<i class="fa-regular fa-hand-point-right"></i>
										</button>
									</div>
								</div>

								<div class="formcls second">
									<div class="details business">
										<span class="title">Business Details</span>
										<div class="fields">
											<div class="input-field">
												<label for="p">Full Name</label>
												<input id="p" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="q">Date of Birth</label>
												<input id="q" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="r">email</label>
												<input id="r" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="s">Full Name</label>
												<input id="s" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="t">Date of Birth</label>
												<input id="t" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="u">email</label>
												<input id="u" type="text" placeholder="Enter your name" >
											</div>
										</div>
										<span class="title">Personal Details</span>
										<div class="fields">
											<div class="input-field">
												<label for="v">Full Name</label>
												<input id="v" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="w">Date of Birth</label>
												<input id="w" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="x">email</label>
												<input id="x" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="y">Full Name</label>
												<input id="y" type="text" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="z">Date of Birth</label>
												<input id="z" type="date" placeholder="Enter your name" >
											</div>

											<div class="input-field">
												<label for="alpha">email</label>
												<input id="alpha" type="text" placeholder="Enter your name" >
											</div>
										</div>

										<div class="buttons" onclick="swapBack()">
											<button class="backBtn">
												<i class="fa-regular fa-hand-point-left"></i>
												<span class="btnText">Back</span>
											</button>

											<button class="nextBtn">
												<span class="btnText">Next</span>
												<i class="fa-regular fa-hand-point-right"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	  
	</body>
</html>