<div class="sidebar show mobmenuhide" th:fragment="sidenavbarFragment">
    <div class="logo-details">
        <header>
            <!--Side bar Logo-->
            <div class="image-text">
                <!--Image-->
                <span class="image">
                    <img src="images/logo_white.png" alt="logo" />
                </span>
                <!--image text-->
                <div class="text header-text">
                    <h5 class="name">Sampath Products</h5>
                </div>
                <!--Chevoren mark-->
                <div class="toggle">
                    <i class="icon fa-solid fa-circle-chevron-left" onclick="menuToggle(this)"></i>
                </div>
            </div>
        </header>
        <!--Menu items-->
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links" id="menuLists"> 
                </ul>
            </div>
            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <img class="user-image" src="images/myphoto.jpeg" alt="User Image">
                        <span id="username" class="text nav-text" th:text={}>UserName</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class="fa-solid fa-sign-out icon"></i>
                        <span class="text nav-text">Signout</span>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>