<html>
	<head>
		<title>Admin Dashboard</title>
		
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="fontawesome/css/all.css" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="style/sidenavbarstyles.css" />
		<link rel="stylesheet" href="style/tablestyles.css" />
		<link rel="stylesheet" href="style/contentstyles.css" />
		<link rel="icon" href="images/logo_white.png">
		
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="column">
					<div class="mobile-icon">
						<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
						<div class="part">
							<img class="mob-image" src="images/logo_white.png" alt="logo"/>
							<h5 class="name mob-header">Sampath Products</h5>
						</div>
					</div>
				</div>
				<div class="column" id="sidebarContainer">
					
				</div>
				
			  
				<div class="content-container">

					<div class="content">
						<div class="head-title">
							Admin Dashboard
						</div>
						<div class="table-container">
							<table class="table table-striped">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">First</th>
									<th scope="col">Last</th>
									<th scope="col">Handle</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Mark</td>
									<td>Otto</td>
									<td>@mdo</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Jacob</td>
									<td>Thornton</td>
									<td>@fat</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Larry</td>
									<td>the Bird</td>
									<td>@twitter</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="script/sidebarscripts.js"></script>
		<script type="text/javascript" src="script/formscripts.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>
		<script type="text/javascript" src="script/objects.js"></script>
  
	</body>
</html>