<html>

<head>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="fontawesome/css/all.css" />
	<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
	<link rel="stylesheet" href="style/sidenavbarstyles.css" />
	<link rel="stylesheet" href="style/formstyles.css" />
	<link rel="stylesheet" href="style/contentstyles.css" />



	<link rel="icon" href="images/logo_white.png">


</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="column">
				<div class="mobile-icon">
					<i class="fa-solid fa-bars mob-icon" onclick="mobMenuToggle()"></i>
					<div class="part">
						<img class="mob-image" src="images/logo_white.png" alt="logo" />
						<h5 class="name mob-header">Sampath Products</h5>
					</div>
				</div>
			</div>
			<div class="column" id="sidebarContainer">
				<div th:replace="~{SideBar :: sidenavbarFragment}"></div>
				
			</div>

			<div class="content-container">

				<div class="content">
					<div class="head-title" id="heading">
			
					</div>
					<!--header class="form-header">Registration</header-->
			
					<div class="form-container">
						<form action="#" class="" id="vehicleAddForm" onsubmit="return false">
							<div class="formcls">
								<div class="details personal">
									<span class="title">Vehicle Details</span>
									<div class="fields">
										<div class="input-fieldonethird">
											<label for="vehicle_no">Vehicle Number</label>
											<input id="vehicle_no" class="valVehicleNo" type="text" placeholder="format: WP AAA 1234" required>
											<label class="validMessage"></label>
										</div>
			
										<div class="input-fieldonethird">
											<label for="vehicle_chasis">Chassis Number</label>
											<input id="vehicle_chasis" type="text" class="valChasis" placeholder="As the Registration Details" required>
											<label class="validMessage"></label>
										</div>
			
										<div class="input-fieldonethird">
											<label for="vehicle_engine">Engine Number</label>
											<input id="vehicle_engine" type="text" class="valEngine" placeholder="As the Registration Details" required>
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
			
								<div class="details personal">
									<span class="title">Owner's Details</span>
									<div class="fields">
										<div class="input-fieldonethird">
											<label for="vehicle_owner_name">Full Name</label>
											<input id="vehicle_owner_name" class="valFullName" type="text"
												placeholder="Enter owner's name" required>
											<label class="validMessage"></label>
										</div>
			
										<div class="input-fieldonethird">
											<label for="vehicle_owner_nic">National Identity Card</label>
											<input id="vehicle_owner_nic" type="text" class="valIdentity"
												placeholder="NIC ends with V,X or 12 characters" required>
											<label class="validMessage"></label>
										</div>
										<div class="input-fieldonethird">
											<label for="vehicle_owner_contact">Land phone</label>
											<input id="vehicle_owner_contact" class="valMobphone" type="text"
												placeholder="starts with 0" required>
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
			
								<div class="details personal">
									<span class="title">Additional Details</span>
									<div class="fields">
										<div class="input-fieldonethird">
											<label for="vehicle_types_id">Vehicle Type</label>
											<select id="vehicle_types_id" required>
											</select>
											<label class="validMessage"></label>
										</div>
			
										<div class="input-fieldonethird">
											<label for="vehicle_last_serviced_date">Last Service Date</label>
											<input id="vehicle_last_serviced_date" onchange="test(this)" type="date">
											<label class="validMessage"></label>
										</div>
			
										<div class="input-fieldonethird">
											<label for="vehicle_licence">Licence No.</label>
											<input id="vehicle_licence" class="valLicesnce" type="text"
												placeholder="According to the license documents." required>
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
			
								<div class="details personal">
									<div style="display: none;">
										<div class="input-field">
											<label for="vehicle_id">Business Registration No</label>
											<input id="vehicle_id" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>
				
										<div class="input-field">
											<label for="vehicle_code">Business Registration No</label>
											<input id="vehicle_code" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>
				
										<div class="input-field">
											<label for="created_date_time">Business Registration No</label>
											<input id="created_date_time" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>
				
										<div class="input-field">
											<label for="updated_date_time">Business Registration No</label>
											<input id="updated_date_time" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>
				
										<div class="input-field">
											<label for="deleted_date_time">Business Registration No</label>
											<input id="deleted_date_time" class="valReg" type="text" placeholder="As the certificate">
											<label class="validMessage"></label>
										</div>
									</div>
								</div>
								<button onclick='validForm("vehicleAddForm",["input", "select"], "/vehicle/save", "POST", "/vehicle", "Vehicle")'>Submit</button>
								<!--button onclick='test()'>Submit</button-->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="script/sidebarscripts.js"></script>
		<script type="text/javascript" src="script/objects.js"></script>
		<script type="text/javascript" src="script/formscripts.js"></script>
		<script type="text/javascript" src="script/tablescript.js"></script>
		<script type="text/javascript" src="script/restfunction.js"></script>
		<script type="text/javascript" src="script/jsonObjCreator.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="fontawesome/js/all.js"></script>
		<script type="text/javascript" src="script/validationscripts/validation.js"></script>
		<script type="text/javascript" src="script/controllerscripts/vehicle/vehicleadd.js"></script>
		<script type="text/javascript" src="script/jquery.js"></script>
</body>

</html>